*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:active {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: default;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  transition: all 0.2s ease-in-out;
}

.header--scrolled {
  background: rgba(21, 21, 21, 1);
}

.header--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.header--logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header--logo img {
  display: block;
  width: auto;
  max-height: 36px;
}

.logo--icon {
  margin-bottom: 10px;
}

.logo--text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.header--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav--list a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.nav--list a:hover {
  color: #ffc451;
}

.nav--list:not(:last-child) {
  margin-right: 30px;
}

.nav--list-active {
  color: #ffc451;
}

.button {
  padding: 8px 25px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 100vh;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.hero--title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.15;
  color: #fff;
  max-width: 635px;
  margin-bottom: 10px;
  cursor: text;
}

.hero--descr {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 60px;
  cursor: text;
}

.hero--benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -12px;
}

.benefits--item-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 16.666%;
  flex: 1 0 16.666%;
  padding: 12px;
}

.benefits--item {
  padding: 30px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
}

.benefits--item:hover {
  border: 1px solid #ffc451;
}

.benefits--icon {
  font-size: 32px;
  line-height: 1;
  color: #ffc451;
  margin-bottom: 10px;
}

.benefits-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}

.about {
  padding: 60px 0;
}

.about--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: -12px;
}

.about--left {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 12px;
}

.about--right {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding: 12px;
}

.about--title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #444;
  margin-bottom: 8px;
}

.about--descr {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: #444;
  margin-bottom: 16px;
}

.about--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.about--img {
  width: 100%;
  height: auto;
}

.about--img img {
  width: 100%;
  height: auto;
}

.services {
  padding: 60px 0;
}

.services--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 5px;
}

.subtitle span {
  margin-right: 8px;
}

.subtitle-line {
  display: block;
  height: 1px;
  width: 9.26%;
  background: #ffde9e;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #151515;
  margin-bottom: 40px;
}

.services--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -12px;
}

.services--row1 {
  margin-bottom: 24px;
}

.services--item-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.3333%;
  flex: 1 0 33.3333%;
  padding: 12px;
}

.services--item {
  padding: 80px 20px;
  border: 1px solid #ebebeb;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #fff;
  height: 100%;
}

.services--item:hover {
  border-color: #fff;
  -webkit-box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.si--icon {
  width: 64px;
  height: 64px;
  background: #ffc451;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.si--icon i {
  font-size: 28px;
  color: #151515;
}

.si--title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #151515;
  margin-bottom: 15px;
}

.si--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #444444;
}

.cta {
  padding: 60px 0;
  background-blend-mode: multiply;
}

.cta--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.cta--title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 8px;
}

.cta--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.team {
  padding: 60px 0;
}

.team--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: start;
}

.team--subtitle::after {
  left: 55px;
}

.team--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -12px;
}

.team--card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  padding: 12px;
}

.team--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: start;
  border-radius: 5px;
  overflow: hidden;
  max-width: 306px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.tc-img {
  position: relative;
}

.tc-img img {
  max-width: 100%;
  height: auto;
}

.tc--social {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tc--social-item {
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tc--social-item:hover {
  background: #ffc451;
}

.tc--social-item:hover i {
  color: #151515;
}

.tc--social-item:not(:last-child) {
  margin-right: 8px;
}

.tc--social-item i {
  font-size: 18px;
  color: #484848;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team--card:hover .tc--social {
  opacity: 1;
  bottom: 25px;
}

.tc--people-inf {
  padding: 25px 15px;
}

.tc--title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #151515;
  line-height: 1.2;
  margin-bottom: 5px;
}

.tc--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #aaaaaa;
}

.contact {
  padding: 60px 0;
}

.contact--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.map--body {
  flex: 0 0 570px;
  height: auto;
  margin-right: 30px;
}

.map--body img {
  width: 100%;
  height: auto;
}

.contact--content {
  max-width: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact--inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact--inf:not(:last-child) {
  margin-bottom: 40px;
}

.ci--icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  height: 44px;
  color: #151515;
  margin-right: 15px;
}

.ci--icon i {
  font-size: 20px;
  background: #ffc451;
  color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.ci--text-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.ci--title {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.ci--text {
  word-wrap: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #484848;
}

.footer {
  background: #151515;
  padding: 60px 0 0;
}

.footer--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: -12px;
  margin-bottom: 40px;
}

.ft--items {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  padding: 12px;
}

.ft--left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fli--logo {
  margin-bottom: 20px;
}

.fli--logo img {
  display: block;
  width: auto;
  max-height: 36px;
}

.fli--logo-text {
  font-size: 28px;
}

.fli--address {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  margin-bottom: 30px;
}

.fli--phone-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

.fli--text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

.fli--mail {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  margin-bottom: 20px;
}

.fli--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fli--social-item {
  display: block;
  background: #292929;
  line-height: 1;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fli--social-item:hover {
  background: #ffc451;
  text-decoration: none;
}

.fli--social-item:hover i {
  color: #151515;
}

.fli--social-item:not(:last-child) {
  margin-right: 8px;
}

.fli--social-item i {
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fci--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fci--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fci--link span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.fci--link span:hover {
  color: #ffc451;
}

.fci--link:not(:last-child) {
  margin-bottom: 20px;
}

.fci--link i {
  font-size: 12px;
  color: #ffc451;
  margin-right: 8px;
}

.fri--title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}

.fri--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.footer--bottom {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #222222;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.active {
  color: #ffc451 !important;
}

@media only screen and (max-width: 900px) {
  .header--nav {
    display: none;
  }

  .hero {
    min-height: auto;
    height: auto;
    padding-bottom: 60px;
  }

  .benefits--item-body {
    flex: 1 0 33%;
  }

  .about--body {
    flex-direction: column;
  }

  .team--card-body {
    flex: 1 0 50%;
  }

  .team--card {
    max-width: 100%;
  }

  .contact--body {
    flex-direction: column;
    align-items: stretch;
  }

  .map--body {
    flex: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .footer--top {
    flex-wrap: wrap;
  }

  .ft--items {
    flex: 1 0 50%;
  }

  .ft--items:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .services--item-body {
    flex: 1 0 100%;
  }
}

@media only screen and (max-width: 600px) {
  .about,
  .services,
  .cta,
  .team,
  .contact {
    padding: 30px 0;
  }

  .hero--title {
    font-size: 30px;
  }

  .hero--descr {
    font-size: 20px;
    margin-bottom: 35px;
  }

  .about--title {
    font-size: 24px;
  }

  .about--descr {
    font-size: 14px;
  }

  .about--text {
    font-size: 14px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .benefits--item-body {
    flex: 1 0 50%;
  }

  .benefits--icon {
    font-size: 28px;
  }

  .benefits-title {
    font-size: 18px;
  }

  .cta--title {
    font-size: 24px;
  }

  .cta--text {
    font-size: 14px;
  }

  .ci--icon {
    flex: 0 0 35px;
    height: 35px;
  }

  .ci--icon i {
    font-size: 14px;
  }

  .ci--title {
    font-size: 18px;
  }

  .ft--items {
    flex: 1 0 100%;
  }

  .footer--bottom {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .team--card-body {
    flex: 1 0 100%;
  }
}

@media only screen and (max-width: 420px) {
  .benefits--item-body {
    flex: 1 0 100%;
  }
}

@media only screen and (max-width: 370px) {
  #menu {
    width: 390px;
  }
}
